/* Reset y Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.container {
    display: flex;
    background-color: white;
    box-shadow: 10 10 10px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
}

h1.tittle1 {
    font-size: 24px;
}

#cerrar_sesion {
    background-color: #ffffff;
    color: #002e5d;
    border: none;
    padding: 2px 5px;
    cursor: pointer;
    border: solid;
    border-radius: 1%;
}

.tittle2 {
    text-align: center;
    margin: 20px 1;
}

.tittle2 h1, .tittle2 h2 {
    color: #002e5d;
}

/* Estilos del Sidebar */
#sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #002e5d;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sidebar .menu-icon {
    color: white;
    font-size: 69px;
    margin-bottom: 10px;
}

#sidebar p {
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
}

#sidebar a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    margin: 10px 0;
    display: block;
    width: 100%;
    text-align: center;
}

#sidebar a:hover {
    background-color: #005b99;
    border-radius: 8px;
}

.main-content {
    flex-grow: 1;
    padding: 2px;
    background-color: white;
}

h1 {
    color: #060d8d;
    text-align: center;
}

h1 {
    color: #110379;
    text-align: center;
    margin-bottom: 20px;
}

.form-group, .form-group-inline {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-group label {
    flex: 0 0 101px;
}

.form-group input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.form-group-inline .form-group {
    flex: 1;
}

.form-group-inline .form-group:first-child {
    margin-right: 6px;
}

.table-container {
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 1px;
    text-align: center;
}

th {
    background-color: #f0f0f0;
}

button {
    background-color: #012a63;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.save-btn {
    margin-top: 20px;
    width: 100%;
    background-color: #071c97;
}